@import url(http://fonts.googleapis.com/css?family=Yantramanav);

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  width: 100%;
  height: 100vh;
}

.topbar-container {
  padding-left: 100px;
  background: #24292e;
}

.topbar-wrap {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: table;
  overflow: hidden;
  display: table;
}

.logo {
  width: 48px;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}

.input-group {
  padding-left: 20px;
  display: table-cell;
  vertical-align: middle;
}

.form-control {
  width: 35%;
  padding: 5px;
  margin-right: 10px;
  border-color: transparent;
  border-radius: 5px;
}

.input-group-btn button {
  padding: 5px 10px;
  background: transparent;
  border-radius: 5px;
  border-width: 1px;
  border-color: #fff;
  color: #fff;
}

.input-group-btn button:hover {
  border-color: #c8c9b1;
  color: #c8c9b1;
}

.nav {
  display: table;
  margin: 0 auto;
}

.nav li {
  width: 100px;
  margin: 0 auto;
  list-style: none;
  display: table-cell;
}

.nav a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: block;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 60px;
}

.nav a:hover {
  color: #c8c9b1;
}

.content {
  padding: 50px 0 20px 0;
}

.header {
  text-align: center;
}

.header h1 {
  color: #383e43;
  font-size: 46px;
  font-weight: 400;
  margin-bottom: 8px;
}

.header p {
  color: #555e64;
}

.btn-guide button {
  padding: 10px 50px;
  font-size: 16px;
  border-width: 1px;
  border-radius: 5px;
  border-color: transparent;
  background: #279341;
  background: -webkit-gradient(linear, left top, left bottom, from(#32c655), to(#28a745));
  background: -moz-linear-gradient(top,  #32c655,  #28a745);
  color: white;
}

.btn-start {
  padding-left: 20px;
}

.btn-start button {
  padding: 10px 50px;
  font-size: 16px;
  border-width: 1px;
  border-radius: 5px;
  border-color: #c9cccf;
  background: #f7f8f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f8f9), to(#eff3f6));
  background: -moz-linear-gradient(top,  #f7f8f9,  #eff3f6);
  color: black;
}

.box {
  display: block;
  width: 100vh
  height: 50vh;
  padding: 0 20px;
  margin-top: 100px;
  border-top: 1px solid #c9cccf;
}

.left {
  float: left;
  width: 20%;
  height: 60vh;
  padding: 20px 0;
  border-right: 1px solid #e1e4e8;
  background: #fff;
}

.right {
  float: right;
  width: 20%;
  height: 60vh;
  padding: 20px 0;
  border-left: 1px solid #e1e4e8;
  background: #fff;
}

.center {
  height: 60vh;
  background: #f6f8fa;
  padding: 20px 0;
}